.article {
  h1 {
    color: #000;
    font-size: 25px;
    line-height: 36px;
    font-weight: 700;
  }
}

.article__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article__details {
  width: 774px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
