.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  background-color: rgb(162, 197, 39);
  
  &:hover,
  &:active {
    opacity: 0.8;
  }
}
