.menu {
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -30px;
    width: 1px;
    height: 48px;
    background-color: rgb(247, 247, 247);
  }
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__item {
  margin-right: 15px;
}

.menu__link {
  font-family: "Roboto", "Arial", sans-serif;
  color: #636971;
  font-weight: 600;
  
  &:hover,
  &:active,
  &--active {
    opacity: 0.8;
  }
}
