.service {
  padding-top: 60px;
  padding-bottom: 100px;
}

.service__img {
  float: left;
  margin-right: 75px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.service__item {
  width: 50%;
  padding-right: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #3c434d;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
  }
  
  p {
    color: #80909c;
    max-width: 230px;
  }
  
  a {
    color: #629fd1;
    text-decoration: underline;
  }
}

.service__text {
  padding-left: 20px;
}